[submodule "ext/glslang"]
	path = ext/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "ext/spirv-cross"]
	path = ext/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = git@github.com:gabime/spdlog.git
	
	
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "ext/json"]
	path = ext/json
	url = git@github.com:nlohmann/json.git
[submodule "ext/vma"]
	path = ext/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git

[submodule "ext/tinyexr"]
	path = ext/tinyexr
	url = git@github.com:syoyo/tinyexr.git


[submodule "ext/dds_image"]
	path = ext/dds_image
	url = git@github.com:spnda/dds_image.git



[submodule "ext/meshoptimizer"]
	path = ext/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
