[submodule "ext/glslang"]
	path = ext/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "ext/spirv-cross"]
	path = ext/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = git@github.com:gabime/spdlog.git