/cmake-build-debug
/cmake-build-release
/cmake-build-debug-visual-studio
/cmake-build-release-visual-studio
cmake-build-debug-visual-studio--2022
cmake-build-release-visual-studio--2022
/cmake-build-debug-mingw
/shaders/spvcachedFiles
/build
/build-vs2022
/.vscode
.idea
/resources/scenes
/savedImage
/target